@mixin font-open-sans($size: false, $color: false, $weight: false,  $lh: false) {
    font-family: "Open Sans", "Verdana", sans-serif;
    @if $size { font-size: $size; }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

@mixin set-title-h1 ($size: $font-size-h1, $color: false, $weight: false, $lh: $line-height-h1) {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: $size;
  @if $color { color: $color; }
    @else {color : $color-title; }
  @if $weight { font-weight: $weight; }
    @else { font-weight: bold; }
  line-height: $lh;
}

@mixin set-title-h2 ($size: $font-size-h2, $color: false, $weight: false, $lh: $line-height-h2) {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: $size;
  @if $color { color: $color; }
    @else {color : $color-title; }
  @if $weight { font-weight: $weight; }
    @else { font-weight: bold; }
  line-height: $lh;
}
