$color: #444444;
$color-hover: #ffffff;
$color-active: rgba($color-hover, 0.3);
$color-title: #000000;
$color-accent: #63d1bb;
$color-qlink: #ffffff;

$color-bg-page: #ffffff;
$color-bg-footer: #f1f1f1;
$color-bg-qlink1: #63d1bb;
$color-bg-qlink2: #56c3b2;

$color-border-light: #ececec;
$color-border: #444444;
$color-border-accent: #62d1ba;

$font-family: "Open Sans", "Verdana", sans-serif;
$font-size: 17px;
$line-height: 24px;
$font-size-h1: 27px;
$line-height-h1: 30px;
$font-size-h2: 25px;
$line-height-h2: 30px;
