/// for set breakpoints
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";
$only-mobyle-widths: "max-width: 767px";

/// text colors
$text-gray: #444444;
$text-black: #000000;
$text-cyan: #63d1bb;
$text-darkcyan: #46c1ae;
$text-white: #ffffff;

$border-lightgrey: #ececec;
$border-darklightgrey: #e5e5e5;
$border-grey: #444444;
$border-black: #000000;
$border-cyan: #62d1ba;

$bg-white: #ffffff;
$bg-lightgrey: #f1f1f1;
$bg-grey: #444444;


/// font settings
$font-family: "Open Sans", "Verdana", sans-serif;

$h1-font-size: (
  null: (27px,30px),
  medium: (43px,50px),
  large: (53px,57px)
);

$h2-font-size: (
  null: (25px,30px),
  medium: (43px,50px),
  large: (53px,57px)
);

$default-font-size :(
  null: (15px, 24px),
  medium: (17px,30px),
  large: (17px,30px)
);
