.advantages {
  margin: 0;
  padding-top: 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $text-black;

  background-color: $bg-white;

  &__wrapper {
    @include container;
    width: 260px;
    margin: 0 auto;
  }
  &__title {
    margin: 0;
    margin-bottom: 28px;

    @include set-font-size($h2-font-size);
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  &__item {
    margin: 0;
    padding-bottom: 24px;
    padding-top: 59px;
  }
}

@media ($tablet-widths) {
  .advantages {
    padding-top: 66px;
    font-size: 20px;
    line-height: 22px;

    &__title {
      margin-left: -5px;
      margin-bottom: 22px;

      @include set-font-size($h2-font-size, medium);
    }

    &__items {
      column-count: 2;
      column-gap: 1px;
    }

    &__item {
      padding-bottom: 30px;
      padding-top: 81px;
      float: left;
    }
  }
}

@media ($desktop-widths) {
  .advantages {
    padding-top: 85px;

    &__wrapper {
      width: 700px;
    }

    &__title {
      @include set-font-size($h2-font-size, large);
      margin-bottom: 22px;
      letter-spacing: -0.3px;
    }

    &__items {
      column-count: 2;
      column-gap: 1px;
    }

    &__item {
      padding-bottom: 30px;
      padding-top: 81px;
      float: left;
    }
  }
}
