.btn {
  margin: 0;
  padding: 18px;
  display: block;

  @include font-open-sans($font-size, $color, bold, $line-height - 4px);
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-bg-page;
  border: 2px solid $color-border;

  &:hover {
    color: $color-hover;

    background-color: $color;
  }

  &:active {
    color: $color-active;
  }
}
