.btn {
  margin: 0;
  padding: 14px;
  display: block;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-gray;
  background-color: $bg-white;

  border: 2px solid $border-grey;

  &:hover {
    color: $text-white;
    background-color: $bg-grey;
  }

  &:active {
    color: rgba($text-white,0.3);
  }
}

a.btn {
  padding: 0;
  line-height: 48px;
}
