.contacts {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  color: $text-gray;

  background-color: $bg-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 7px;

    background-image: url(../img/bg-zigzag-line.svg);
    background-size: auto 7px;
  }
}

.contacts__header,
.contacts__footer {
  @include container;
  width: 260px;
}

.contacts__header {
  margin-bottom: 38px;
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__footer {
  margin-bottom: 10px;
  padding: 0 30px;
}

.contacts__title {
  padding-top: 42px;
  padding-bottom: 10px;
  margin-bottom: 16px;

  font-size: 18px;
  color: $text-black;
}

.contacts__info {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__type {
  margin-bottom: 30px;
}

.contacts__data {
  width: 183px;
}

.contacts__data p {
  margin: 0;
}

.contacts__data a {
  padding-bottom: 4px;

  color: $text-gray;
  text-decoration: none;

  border-bottom: 1px solid $text-darkcyan;
}

.contacts__data a:hover {
  color: $text-darkcyan;
}

.contacts__data a:active {
  opacity: 0.3;
}

.contacts__map {
  height: 455px;
  margin-bottom: 39px;
}

.contacts__write {
  margin-bottom: 40px;
}

@media ($tablet-widths) {
  .contacts {
    margin-top: 17px;
    padding-top: 42px;

    font-size: 17px;

    &::before {
      height: 17px;

      background-size: auto 17px;
    }
  }

  .contacts__header {
    margin-bottom: 55px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 38px;
    margin-left: -5px;
    padding-top: 0;
    padding-right: 51px;
    @include set-font-size($h2-font-size,medium);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -15px;
      width: 51px;
      height: 81px;
      background: transparent url(../img/icon-flag.svg) 0 0 no-repeat;
    }
  }

  .contacts__info {
    justify-content: flex-start;
  }

  .contacts__data {
    width: 240px;
  }

  .contacts__type + .contacts__data{
    margin-bottom: 0;
    margin-left: 22px;
  }

  .contacts__data + .contacts__type {
    margin-left: 20px;
  }

  .contacts__map {
    margin-bottom: 60px;
  }

  .contacts__write {
    margin: 0 auto;
    width:227px;
  }
}

@media ($desktop-widths) {
  .contacts {
    padding-top: 93px;

    font-size: 17px;

    @include clearfix;

    &::before {
      height: 23px;

      background-size: auto 23px;
    }
  }

  .contacts__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .contacts__header,
  .contacts__footer {
    float: left;
    width: 330px;
    margin-top: 27px;
    margin-bottom: 53px;
    margin-left: 54px;
    padding: 0;
    padding-left: 120px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 38px;
    padding-top: 0;
    padding-right: 51px;
    @include set-font-size($h2-font-size,large);

    &::after {
      content: "";
      position: absolute;
      left: -107px;
      top: -8px;
      width: 51px;
      height: 81px;
      background: transparent url(../img/icon-flag.svg) 0 0 no-repeat;
    }
  }

  .contacts__info {
    justify-content: space-between;
  }

  .contacts__data {
    width: 252px;
  }

  .contacts__data + .contacts__type {
    margin-left: 0;
  }

  .contacts__map {
    float: right;
    width: 525px;
    height: 460px;
    margin-bottom: 0;
  }

  .contacts__write {
    margin-left: 1px;
    width:227px;
  }
}
