.main-nav {
  position: relative;
  z-index: 10;

  box-shadow: inset 0 1px 0 0 #ececec,
  inset 0 -1px 0 0 #ececec;
}

.main-nav__toggle {
  position: absolute;
  top: -49px;
  right: 31px;

  display: block;
  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: $bg-white;
  border: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: $text-black;
  box-shadow: 0 6px 0 0 $text-black,
              0 12px 0 0 $text-black;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba($text-black, 0.6);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.6),
              0 12px 0 0 rgba($text-black, 0.6);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($text-black, 0.3);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.3),
              0 12px 0 0 rgba($text-black, 0.3);
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $text-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__items,
.main-nav__widget-items,
.main-nav__add-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item,
.main-nav__widget-item,
.main-nav__add-item {
  font-size: 17px;
  line-height: 24px;

  box-shadow: inset 0 -1px 0 0 #ececec;
}

.main-nav__item a,
.main-nav__widget-item a,
.main-nav__add-item a {
  display: block;
  margin-left: 30px;
  padding: 28px 46px;

  font-weight: bold;
  color: $text-black;
  text-decoration: none;
}

.main-nav__item a[href]:hover,
.main-nav__widget-item a[href]:hover,
.main-nav__add-item a[href]:hover {
  color: rgba($text-black,0.6);
}

.main-nav__item a[href]:active,
.main-nav__widget-item a[href]:active,
.main-nav__add-item a[href]:active {
  color: rgba($text-black,0.3);
}

.main-nav__search-link {
  position: relative;
}

.main-nav__search-link svg {
  position: absolute;
  left: 0;
  top: 31px;

  width: 18px;
  height: 18px;
  opacity: 0.2;
}

.main-nav__search-link:hover svg {
  fill: $text-cyan;
  opacity: 1;
}

.main-nav__search-link:active svg {
  fill: $text-cyan;
  opacity: 0.3;
}

.main-nav__widget-cart {
  position: relative;
}

.main-nav__widget-cart svg {
  position: absolute;
  left: 0;
  top: 31px;

  width: 21px;
  height: 18px;

  opacity: 0.2;
}

.main-nav__widget-cart:hover svg {
  fill: $text-cyan;
  opacity: 1;
}

.main-nav__widget-cart:active svg {
  fill: $text-cyan;
  opacity: 0.3;
}

@media ($only-mobyle-widths) {
  .main-nav {
    width: 100%;
  }

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__widget-items {
    display: none;
  }

  .main-nav__add-items {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    height: auto;

    background-color: $bg-white;
    overflow-y: auto;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;

    height: auto;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
  }

  .main-nav--nojs .main-nav__user-items {
    display: block;

    background-color: $bg-white;
  }
}

@media ($tablet-widths) {
  .main-nav {
    width: 100%;
    height: 89px;
    margin-top: -89px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    padding: 0 50px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__items {
    order: 2;
    display: flex;
    justify-content: flex-start;
    width: auto;
    flex-grow: 1;
  }

  .main-nav__widget-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    order: 1;
  }

  .main-nav__add-items {
    order: 3;
    display: flex;
    justify-content: flex-end;
    width: auto;
    flex-grow: 1;
  }

  .main-nav__item,
  .main-nav__widget-item,
  .main-nav__add-item {
    box-shadow: none;
  }

  .main-nav__item a,
  .main-nav__widget-item a,
  .main-nav__add-item a{
    margin-left: 0;
    padding: 17px 0;
  }

    .main-nav__item a {
      font-size: 15px;
    }

  .main-nav__item + .main-nav__item {
    margin-left: 20px;
    padding-left: 15px;
  }

  .main-nav__widget-item a {
    padding-top: 31px;
    padding-bottom: 24px;
  }

  .main-nav__add-item a{
    font-size: 15px;
    font-weight: normal;
  }

  .main-nav__add-item {
    display: none;
  }

  .main-nav__add-item:nth-child(1) {
    display: block;
  }

  .main-nav__search-link {
    width: 84px;
    height: 34px;
    margin-right: 83px;
    font-size: 0;

    box-shadow: inset 1px 0 0 0 #ececec,
                inset -1px 0 0 0 #ececec;
  }

  .main-nav__search-link svg {
    left: 34px;
    top: 37px;
  }

  .main-nav__widget-cart svg {
    left: -52px;
    top: 35px;
  }
}

@media ($desktop-widths) {
  .main-nav {
    width: auto;
    max-width: 1050px;
    padding: 0 50px;
  }

  .main-nav__wrapper {
    padding: 0;
  }

  .main-nav__items {
    order: 1;
    width: auto;
  }

  .main-nav__item a {
    padding-top: 31px;
    padding-bottom: 31px;
    font-size: 17px;
  }

  .main-nav__item + .main-nav__item {
    margin-left: 35px;
    padding-left: 36px;
    box-shadow: inset 1px 0 0 0 #ececec;
  }

  .main-nav__widget-items {
    width: auto;
  }

  .main-nav__add-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .main-nav__add-item {
    display: block;
  }

  .main-nav__add-item:nth-child(n+2) a{
    font-weight: bold;
  }

  .main-nav__add-item:nth-child(2){
    margin-right: auto;
  }

  .main-nav__add-item:nth-child(3){
    margin-right: 60px;
  }
}
