.page-footer {

  font-size: 19px;
  line-height: 18px;
  color: $text-black;
  font-weight: bold;

  background-color: $bg-lightgrey;

  &__wrapper {
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__social + &__copyright {
    border-top: 1px solid $border-darklightgrey;
  }
  &__logo {
    display: none;
  }

  &__social {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 18px;
    margin-left: -7px;
  }

  &__copyright {
    display: block;
    margin: 0;
    padding: 22px 0;

    text-align: center;

  }
  &__copyright-link {
    width: 27px;
    height: 24px;
    margin: 0 auto;
    vertical-align: middle;

    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }

  &__copyright-svg {
    margin-left: 20px;
    vertical-align: middle;

    fill: $text-cyan;
  }

  &__copyright-link:hover &__copyright-svg,
  &__copyright-link:active &__copyright-svg {
    fill: $text-darkcyan;
  }

  &__copyright-link:active{
    opacity: 0.3;
  }
}

@media ($tablet-widths) {
  .page-footer {
    width: 100%;
    margin-top: 54px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1150px;
      margin: 0 auto;
      padding: 0 50px;
    }

    &__logo {
      display: flex;
      width: 102px;
      height: 143px;
      align-items: center;
    }

    &__logo-svg{
      display: block;
      width: 102px;
      height: 34px;
    }

    &__logo:hover &__logo-svg {
      fill: $text-darkcyan;
    }

    &__logo:active &__logo-svg {
      fill: $text-darkcyan;
      opacity: 0.3;
    }

    &__social {
      margin-left: 75px;
      padding: 0;
      padding-top: 14px;
    }

    &__social + &__copyright {
      border-top: none;
    }

    &__copyright {
      padding: 0;
      padding-top: 12px;
    }

    &__copyright-link {
      height: 34px;
    }
  }
}

@media ($desktop-widths) {
  .page-footer {
    margin-top: 52px;

    &__social {
      padding-top: 10px;
    }

    &__copyright {
      padding-top: 7px;
    }
  }
}
