.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 1px 0 0 $border-lightgrey;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
}

@media ($tablet-widths) {
  .page-header {
    &__logo {
      position: absolute;
      width: 113px;;
      left: 50px;
      height: 90px;
    }
  }
}

@media ($desktop-widths) {
  .page-header {
    &__logo {
      left: 50%;
      width: 149px;
      height: 89px;
      margin-left: -74px;
    }
  }
}
