.page-content {
  margin:0;
  padding: 0;

  &__title-wrapper {
    @include container;

  }
  &__title {
    margin: 0;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 120px;
    padding-left: 30px;

    @include set-font-size($h1-font-size);
    color: $text-black;
    font-weight: bold;
    text-align: center;
  }

  &__title--index-page {
    background: #f9f9f9 url(../img/hero-mobile@1x.jpg) 50% -19px no-repeat;
  }
}

@media ($tablet-widths) {
  .page-content  {

    &__title {
      max-width: 660px;
      padding-top: 153px;
      padding-bottom: 372px;
      @include set-font-size($h1-font-size,medium);
    }
  }
}

@media ($desktop-widths) {
  .page-content {

    &__title {
      padding-top: 165px;
      padding-bottom: 350px;
    }

  }
}
