.page {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1150px;

  font-family: "Open Sans", "Verdana", sans-serif;
  @include set-font-size ($default-font-size);
  font-weight: normal;
  font-style: normal;
  color: $text-gray;
  background-color: $bg-white;

  & img {
    max-width: 100%;
    height: auto;
  }
}

@media ($tablet-widths) {

}

@media ($desktop-widths) {

}
