.product {

  @include set-font-size($default-font-size);
  font-weight: bold;
  color: $text-black;

  background: $bg-white;

  &__img {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
  }

  &__header,
  &__footer {
    margin-left: 26px;
    margin-right: 28px;
  }

  &__header {
    padding-bottom: 19px;
  }

  &__footer {
    padding-top: 20px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 24px;
  }

  &__header  + &__footer {
    border-top: 1px solid $border-darklightgrey;
  }

  &__descr {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
    font-weight: normal;
  }

  &__descr * + * {
    text-transform: lowercase;
  }

  &__descr * + *::before {
    content: ",";
    position: relative;
    left: -4px;
  }
}

@media ($tablet-widths) {
  .product {
    position: relative;

    @include clearfix;

    &__img {
      float: left;
      width: 332px;
      height: 333px;
      margin-bottom: 0;
    }

    &__img img {
      width: 332px;
    }

    &__header {
      float: left;
      width: 232px;
      margin-left: 29px;
      padding-top: 25px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__descr {
      font-size: 15px;
    }

    &__footer {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 272px;

      font-size: 17px;
    }
  }
}

@media ($desktop-widths) {
  .product {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 57px;
    padding: 0;

    &__img {
      width: 100%;
      height: 463px;
      box-sizing: border-box;
    }

    &__header {
      margin-left: 26px;
      padding-bottom: 71px;
      margin-bottom: 17px;
    }

    &__footer {
      left: 0;
    }

    &__title {
      margin-bottom: 4px;
    }
  }
}
