.quick-links {

  &__link {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 35px;

    @include font-open-sans(19px, $color-accent, bold, $line-height - 4px);

    background-color: $color-bg-qlink1;
    color: $color-qlink;

    text-decoration: none;
  }

  &__link:nth-child(even) {
    background-color: $color-bg-qlink2;
  }
}
