.search-form {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: inherit;
  background-color: inherit;

  &__input {
    display: none;
    border: none;
  }

}

@media ($tablet-widths) {
  .search-form {
    &__label {
      font-size: 0;
    }
  }
}
