.social-link {
  font-size: 0;

  fill: $text-black;

  &:hover {
    fill: $text-darkcyan;
  }

  &:active {
    fill: $text-darkcyan;
    opacity: 0.3;
  }

  &--fb {
    margin-right: 37px;
    margin-left: 41px;
  }

}

@media ($tablet-widths) {
  .social-link {

  }
}
