.video {
  margin-bottom: 60px;
  @include set-font-size ($default-font-size);
  font-weight: bold;
  color: $text-black;

  background: $bg-white;

  &__title {
    margin-bottom: 24px;
    padding-top: 10px;
    padding-left: 87px;

    font-size: 17px;
    line-height: 24px;
  }

  &__viewer {
    height: 150px;
    margin-bottom: 8px;
  }

  &__descr {
    margin-bottom: 25px;
    padding-left: 32px;
    padding-right: 35px;
    font-size: 13px;
    font-weight: normal;
    color: $text-gray;
  }

  &__order-link {
    margin-top: 25px;
    margin-right: 33px;
    margin-bottom: 32px;
    margin-left: 33px;
  }
}



video::-webkit-media-controls-panel {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);

  display: block;
  width: auto;
  height: auto;

  background: transparent;
  border-radius: 0;
}

.video__viewer::-webkit-media-controls-enclosure {
  width: 0;
  height: 0;
  border: none;
}

.video__viewer::-webkit-media-controls-play-button {
  width: 101px;
  height: 76px;
  box-sizing: border-box;
  background-image: url(../img/icon-play.svg);
}

.video__viewer::-webkit-media-controls-panel:hover {
  transform: scale(1.2);
}

.video__viewer::-webkit-media-controls-panel:active {
  opacity: (0.3);
  transform: scale(0.8);
}

.video__viewer::-webkit-media-controls-timeline {
  width: 0;
  height: 0;

  font-size: 0;

  border-radius: none;
}

.video__viewer::-webkit-media-controls-current-time-display {
  display: none
}

@media ($tablet-widths) {
  .video {
    margin-top: -1px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;

    &__viewer {
      position: relative;
      z-index: 10;
      width: 668px;
      height: 454px;
      margin-bottom: 12px;
      order: -1;
    }

    &__title {
      margin-bottom: 17px;
      padding-left: 106px;
      font-size: 20px;
      line-height: 24px;
    }

    &__descr {
      margin-bottom: 11px;
      padding-left: 39px;

      font-size: 15px;
      line-height: 30px;
    }

    &__order-link {
      margin-right: 41px;
      margin-bottom: 44px;
      margin-left: 41px;
    }
  }
}

@media ($desktop-widths) {
  .video {
    display: block;
    width: 100%;
    margin-bottom: 51px;

    @include clearfix;

    &__viewer {
      float: left;
      width: 682px;
      margin-right: 79px;
      margin-bottom: 0;
    }

    &__title {
      float: right;
      width: 224px;
      margin-right: 63px;
      padding-top: 78px;
      padding-left: 0;
    }

    &__descr {
      width: 224px;
      padding: 0;
      float: left;
    }

    &__order-link {
      float: left;
      width: 227px;
      margin: 0;
      margin-top: 35px;
      padding: 0;
    }
  }
}
