.video {
  margin-bottom: 58px;
  @include set-font-size ($default-font-size);
  font-weight: bold;
  color: $text-black;

  background: $bg-white;
}

.video__wrapper {
  position: relative;
  height: 150px;
  margin-bottom: 8px;
}

.video__play-pause {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);

  width: 101px;
  height: 76px;
  box-sizing: border-box;
  background-image: url(../img/icon-play.svg);

  transition: transform 0.3s, opacity 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: (0.3);
    transform: scale(0.8);
  }
}

.video__title {
  position: relative;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-left: 87px;

  font-size: 17px;
  line-height: 24px;
}

.video__title svg {
  position: absolute;
  position: absolute;
  top: 16px;
  left: 32px;
  width: 32px;
  height: 32px;

  fill: $text-cyan;
}

.video__viewer {
  width: 100%;
  height: 100%;
}

.video__descr {
  margin-top: 27px;
  margin-bottom: 25px;
  padding-left: 32px;
  padding-right: 35px;
  font-size: 13px;
  font-weight: normal;
  color: $text-gray;
}

.video__order-link {
  margin-top: 25px;
  margin-right: 33px;
  margin-bottom: 32px;
  margin-left: 33px;
}

@media ($tablet-widths) {
  .video {
    margin-top: -1px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
  }

  .video__wrapper {
    position: relative;
    z-index: 10;
    width: 668px;
    height: 454px;
    margin-bottom: 12px;
    order: -1;
  }

  .video__title {
    margin-bottom: 5px;
    padding-left: 106px;
    font-size: 20px;
    line-height: 24px;
  }

  .video__title svg {
    top: 7px;
    left: 41px;
  }

  .video__descr {
    margin-bottom: 11px;
    padding-left: 39px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__order-link {
    margin-right: 41px;
    margin-bottom: 44px;
    margin-left: 41px;
  }
}

@media ($desktop-widths) {
  .video {
    display: block;
    width: 100%;
    margin-bottom: 51px;

    @include clearfix;
  }

  .video__wrapper {
    float: left;
    width: 682px;
    margin-right: 79px;
    margin-bottom: 0;
  }

  .video__title {
    float: right;
    width: 224px;
    margin-right: 63px;
    padding-top: 78px;
    padding-left: 0;
  }

  .video__title svg {
    top: 24px;
    left: 1px;
  }

  .video__descr {
    width: 224px;
    padding: 0;
    float: left;
  }

  .video__order-link {
    float: left;
    width: 227px;
    margin: 0;
    margin-top: 35px;
    padding: 0;
  }
}
